.zhifuchenggong{
    width: 100%;
    height: 7.11rem;
    background: #fff;
    border-top: 2px solid #000000;
    padding: 0.4rem 0.4rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.zhifuchenggong >.one{
    width: 100%;
    display: flex;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.zhifuchenggong >.two {
    width: 100%;
    padding-bottom: 0.4rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zhifuchenggong >.box.two p{
    font-size: 0.6rem;
    font-weight: bold;
}
.zhifuchenggong >.three{
    width: 100%;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zhifuchenggong >.four{
    width: 100%;
    padding-bottom: 0.4rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zhifuchenggong >.four p{
    font-size: 0.1rem;
}
.zhifuchenggong >.five{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.zhifuchenggong >.five img{
    width: 1.7rem;
    height: 0.6rem;
}